#!/usr/bin/env python3
import sys
sys.path.append("./Importers")
from alipay import Debit_or_credit, Col, Importer


# Col为枚举类型，预定义了每笔交易记录所需要的内容，_config负责定义枚举内容与csv表头之间的对应关系
_config = {}
_config[Col.DATE] = u"交易创建时间"
_config[Col.PAYEE] = u"交易对方"
_config[Col.NARRATION] = u"商品名称"
_config[Col.REMARK] = u"备注"
_config[Col.AMOUNT] = u"金额（元）"
_config[Col.DRCR] = u"收/支"
_config[Col.STATUS] = u"资金状态"

# _default_account负责定义默认账户
_default_account = "Assets:MoneyFound:Yuebao"

# _currency定义货币单位
_currency = "CNY"

# Debit_or_credit也是枚举类型，预定义了支出和收入两类，_DRCR_dict负责定义这两类与csv中能够表明该状态的文本之间的对应关系
_DRCR_dict = {Debit_or_credit.DEBIT: "支出", Debit_or_credit.CREDIT: "收入"}

# _assets_account负责保存账户信息，key为手工对账时在备注中输入的内容
_assets_account = {}
_assets_account["花呗"] = "Liabilities:VirtualCard:Huabei"
_assets_account["招行信用卡"] = "Liabilities:CreditCard:CMB"
_assets_account["支付宝"] = "Assets:VirtualCard:Alipay"
_assets_account["余额宝"] = "Assets:MoneyFound:Yuebao"
_assets_account["建行储蓄卡"] = "Assets:DepositCard:CCB"

# _debit_account负责保存支出账户信息，key为与该账户相关的关键词，多个关键词用竖线分割，只要交易对方名称和商品名称中出现该关键词，就把该交易分类为对应支出
_debit_account = {Debit_or_credit.DEBIT: "Expenses:Daily:Food"}
_debit_account["App Store|Steam|iCloud"] = "Expenses:Fun:SoftwareAndGame"
_debit_account["全时|华联|家乐福|超市|红旗|WOWO|百货|伊藤"] = "Expenses:Daily:Commodity"
_debit_account["汽车票|蒜芽信息科技|优步|火车|动车|空铁无忧网|滴滴|汽车|运输"] = "Expenses:Travelling"
_debit_account["捐赠"] = "Expenses:PublicWelfare"
_debit_account["话费|流量|手机"] = "Expenses:Daily:PhoneCharge"
_debit_account["电影"] = "Expenses:Fun:Amusement"
_debit_account["天府通|地铁"] = "Expenses:Travelling:TransportCard"
_debit_account["优衣库"] = "Expenses:Dressup:Clothing"
_debit_account["造型"] = "Expenses:Dressup:Maintain"
_debit_account["医院|药房"] = "Expenses:Health:Hospital"
_debit_account["酒店"] = "Expenses:House:Hotel"

# _credit_account负责保存收入账户信息
_credit_account = {Debit_or_credit.CREDIT: "Income:MoneyFound"}


CONFIG = [
  Importer(config=_config,
           default_account=_default_account,
           currency=_currency,
           regexps=[],
           DRCR_dict=_DRCR_dict,
           assets_account=_assets_account,
           debit_account=_debit_account,
           credit_account=_credit_account)
]